<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <%- include('partials/head') %>
</head>
<body>
<%- include('partials/navigation') %>
<div class = "parent">
<div class = "form-design">
    <h2> Add a blog</h2>
    <form method="post" action="/addBlogPost" class="blogs_forms">
        <!-- Add the following code to include the CSRF csrfToken as a hidden field -->
        <div class="input_labels">
            <input type="hidden" name="csrftokenvalue" value="<%= csrfToken %>">
            <input type="hidden" id="doubleSubmitCookie" name="doubleSubmitCookie" value="<%=doubleSubmitCookie%>">
        </div>
        <div class="input_group">
            <label class = "label" for="blogTitle">Blog Title</label><br>
            <input type="text" id="blogTitle" name="blogTitle" value="" required><br>
        </div>
        <div class="input_group">
            <label class = "label" for="blogDescription">Blog Description</label><br>
            <input type="text" id="blogDescription" name="blogDescription" value="" required placeholder="Please put brief blog description"><br>
        </div>
        <div class="input_group">
            <label class = "label" for="blogData">Blog Data</label><br>
            <textarea class= "blogdata"rows="4" cols="50" name="blogData" required>
            Enter all your blog Data here</textarea>
            <br><br>
        </div>
        <% if (errors) { %>
            <div>
                <ul>
                    <% for (var i = 0; i < errors.length; i++) { %>
                        <li><%= errors[i] %></li>
                    <% } %>
                </ul>
            </div>
        <% } %>
        <div class="input_group">
            <input class = "sign-upb" type="submit" value="Submit">
        </div>
    </form>
</div>
</div>




</body>
</html>