<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <%- include('partials/head') %>
    <script src="https://www.google.com/recaptcha/api.js"></script>
</head>
<body>
<%- include('partials/homenav') %>
<% if (authorized) { %>
    <div class = "parent">
        <div class="form-design">
            <h2>Change the password</h2>
            <form action="/changePassword" method="post">
                <div class="form-input-group">
                    <input type="hidden" id="csrftokenvalue" name="csrftokenvalue" value="<%=csrfToken%>">
                    <input type="hidden" id="hidden" name="email" value="<%=email%>">
                </div>
                <div class="form-input-group">
                    <label class= "label" for="password">New Password:</label><br>
                    <input type="password" id="password" name="newpassword" required><br>
                </div>
                <div class="form-input-group">
                    <div class="g-recaptcha" data-sitekey="6LcxD74lAAAAACyWamoItGFrF_1vS-ESJ-zWV6NQ"></div>
                </div>
                <% if (message) { %>
                    <div class="message">
                        <p><b>Message:</b>  <%= message%></p>
                    </div>
                <% } %>
                <% if (errors) { %>
                    <div class="message error">
                        <b><%= errors%> </b>
                    </div>
                <% } %>
                <div class="form-input-group">
                    <button class ="loginb" type="submit">Reset password</button>
                </div>

            </form>
        </div>
    </div>
<% } else { %>
    <p>Unauthorised request</p>
<% } %>

</body>
</html>