<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <%- include('partials/head') %>
</head>
<body>

<%- include('partials/navigation') %>
<h2>Welcome: <%= firstname%></h2>
<div>
    <form action="/editblog/<%= post.id %>" method="post">
        <div class="form-input-group">
            <input type="hidden" id="csrftokenvalue" name="csrftokenvalue" value="<%=csrfToken%>">
            <input type="hidden" id="doubleSubmitCookie" name="doubleSubmitCookie" value="<%=doubleSubmitCookie%>">
        </div>
        <label for="blogtitle">Title:</label>
        <input type="text" id="blogtitle" name="blogtitle" value="<%= post.blogtitle %>">

        <label for="blogdescription">Description:</label>
        <textarea id="blogdescription" name="blogdescription"><%= post.blogdescription %></textarea>

        <label for="bloginfo">Blog Content:</label>
        <textarea id="bloginfo" name="bloginfo"><%= post.bloginfo %></textarea>

        <button type="submit">Update</button>
    </form>
</div>
<% if (errors) { %>
    <div>
        <p> <b> <%= errors%> </b></p>
    </div>
<% } %>
<a href="/blogDashboard">Back to dashboard</a>

</body>
</html>