<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <%- include('partials/head') %>
</head>
<body>
<%- include('partials/homenav') %>
<% if(email){%>
    <div>
        <h1>Email Verficiation Token</h1>
        <p>Email has been sent to:  <%=email%></p>
        <p>The email contains your verification token which will only be valid for 24 hours</p>
        <p>Kindly input the verification token in the form below: </p>
        <form action="/email-verification" method="post">
            <div class="form-input-group">
                <input type="hidden" id="csrftokenvalue" name="csrftokenvalue" value="<%=csrfToken%>">
            </div>
            <input type="text" hidden id="verificationemail" name="verificationemail" value="<%=email%>" required>
            <div class="form-input-group">
                <label for="userverificationtoken">Enter your verification token given below:</label>
                <input type="text" id="userverificationtoken" name="userverificationtoken"  autocomplete="off" required>
            </div>
            <div class="form-input-group">
                <input type="submit" value="Submit">
            </div>
            <% if (errors) { %>
                <div>
                    <%=errors%>
                </div>
            <% } %>
        </form>
    </div>
<% } else { %>
<p>Unauthorised page access</p>
<!-- <form method="POST" action="/generate">
     <button type="submit">Generate QR Code</button>
 </form>-->
<% } %>
</body>
</html>