<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy">
    <%- include('partials/head') %>
    <script src="https://www.google.com/recaptcha/api.js" ></script>
</head>
<body>
<%- include('partials/homenav') %>

<div class = "parent">
<div class="form-design">
    <h2>Login</h2>
    <form action="/login" method="post">
        <div class="form-input-group">
            <input type="hidden" id="csrftokenvalue" name="csrftokenvalue" value="<%=csrfToken%>">
            <input type="text"  id="Username" name="Username" tabindex="-1">
        </div>
        <div class="form-input-group">
            <label class= "label" for="email">Email:</label><br>
            <input type="email" id="email" name="email" value="" required><br>
        </div>
        <div class="form-input-group">
            <label class = "label" for="password">Password:</label><br>
            <input type="password" id="password" name="password" value="" required><br><br>
            <div>
                <a href="/resetPassword">Forgot password?</a>
            </div>
        </div>

        <div class="form-input-group">
            <div class="g-recaptcha" data-sitekey="6LcxD74lAAAAACyWamoItGFrF_1vS-ESJ-zWV6NQ"></div>
        </div>
        <% if (message) { %>
            <div class="message">
                <p><b>Message:</b>  <%= message%></p>
            </div>
        <% } %>
        <% if (errors) { %>
            <div class="message error">
                <b><%= errors%> </b>
            </div>
        <% } %>
        <div class="form-input-group">
            <button class ="loginb" type="submit">Login</button>
        </div>
        <div class ="dont">
            <p>Don't have an account?
             <a href="/sign-up">Sign-Up</a>
            </p>
        </div>


    </form>
</div>
</div>
</body>
</html>